body {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
section {
    display: flex;
    color: white;
}
header {
    text-align: center;
    background-color: lightblue;
}
.separado {
    justify-content: space-around;
    background-color: bisque;
}
#sec1 {
    background-color: black;
}
#sec2 {
    position: relative;
    background-color: red;
    margin-left: 5% ;
}
#sec3 {
    position: relative;
    background-color: purple;
    margin-left: 10% ;
}
#sec4 {
    position: relative;
    background-color: rgb(34, 131, 21);
    margin-left: 15% ;
}
#sec5 {
    position: relative;
    background-color: rgb(0, 38, 255);
    margin-left: 20% ;
}
#sec6 {
    position: relative;
    background-color: rgb(167, 164, 11);
    margin-left: 25% ;
}
#sec7 {
    position: relative;
    background-color: rgb(148, 21, 105);
    margin-left: 30% ;
}

section img {
    max-width: 300px;
    mix-blend-mode: multiply;  
}