body {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
.login{
    margin-top: 150px;
    text-align: center;
    color: red;
}
#cadastro {
    margin-left: 100px;
}
section button {
    background-color: orange;
}

section img {
    mix-blend-mode: multiply;  
}