body {
    background-color: rgb(241, 232, 232);
    font-family: 'Courier New', Courier, monospace;
}
.container {
    text-align: center;
    background-color: white;
    margin-top: 300px;
    width: 20%;
    margin-left: 770px;
    padding: 1px;
    border-radius: 20px;
    input {
        width: 342px;
    }
}
#numero1, #numero2 {
    font-size: 20px;
    display: grid;
    input {
        margin-left: 15px;
        font-size: 20px;
    }
}
#numero2 {
    margin-right: 5px;
}
#calcular {
    margin-top: 5px;
    width: 350px;
    height: 40px;
    background-color: orange
}